<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="{{ .Lang }}">
  <head>
    {{ partial "header.html" . }}
  </head>
  <body>
<style>
#modal_trigger {
    position: fixed;
    bottom: 1em;
    right: 2em;
    cursor: pointer;
    border-radius: 15px;
    border: 0;
    text-decoration: none;
    display: block;
    z-index: 3;
}
</style>

<div class="text-wrapper" style="text-align:center; margin-top: 5px;">
        		<p>
<!--				<a href="javascript:void(0)" class="bai-open-chat-btn"><img src="https://dl.dropbox.com/s/d5v64cgiz0cygq8/under-construction.png" id="modal_trigger" class="bai-open-chat-btn" width="100px"></a> -->
<!--				<a href="javascript:void(0)" class="bai-open-chat-btn"><img src="https://dl.dropbox.com/s/af5zqzynahah1ok/chaticon_green.png" id="modal_trigger" class="bai-open-chat-btn" width="100px"></a> -->
				<a href="javascript:void(0)" class="bai-open-chat-btn"><img src="https://bfdemo.boost.ai/img/chaticon.png" id="modal_trigger" class="bai-open-chat-btn" width="100px"></a> 
        		</p>
		</div>



	  
	  
    <!-- Loader -->
    <div class="fh5co-loader"></div>
    <div class="fh5co-page">
      <div id="fh5co-container">
	
	{{ partial "hero.html" . }}
	
	{{ partial "nav.html" . }}

	{{ if .Site.Params.mission.enable }}
	{{ partial "mission.html" . }}
	{{ end }}
	
	{{ if .Site.Params.services.enable }}
	{{ partial "services.html" .}}
	{{ end }}
	
	{{ if .Site.Params.work.enable }}
	{{ partial "gallery.html" .}}
	{{ end }}
	
	{{ if .Site.Params.team.enable }}
	{{ partial "team.html" .}}
	{{ end }}

	{{ if .Site.Params.contact.enable }}
	{{ partial "contact-form.html" .}}
	{{ end }}
	
	{{ if .Site.Params.footer.enable }}
	{{ partial "footer.html" .}}
	{{ end }}
      
      </div>
    </div>
    
    {{ partial "js.html" .}}
<script>
  window.intercomSettings = {
    app_id: "jmkd7bd2"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/jmkd7bd2';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
	  
  </body>

	


</html>
