<!-- chat icon commented out /elar
<style>
#modal_trigger {
    position: fixed;
    bottom: 1em;
    right: 2em;
    cursor: pointer;
    border-radius: 15px;
    border: 0;
    text-decoration: none;
    display: block;
    z-index: 3;
}
</style>

<div class="text-wrapper" style="text-align:center; margin-top: 200px;">
        		<p>
                		<a href="#" class="bai-open-chat-btn"><img src="https://bfdemo.boost.ai/img/chaticon.png" id="modal_trigger" class="bai-open-chat-btn" width="80px"></a>
        		</p>
		</div>
-->


<div class="js-sticky">
  <div class="fh5co-main-nav">
    <div class="container">
      <div class="fh5co-menu-1">

	<a href="#" data-nav-section="home">{{ with .Site.Params.nav }}{{ if isset . "logo" }}<img src={{ .logo | absURL }} height="20" alt="">{{ end }}{{ if (not (isset . "logo")) }}Home{{ end }}{{ end }}</a>

	{{ if .Site.Params.mission.enable }}
	<a href="#" data-nav-section="mission">{{ with .Site.Params.nav.mission }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.services.enable }}
	<a href="#" data-nav-section="services">{{ with .Site.Params.nav.services }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.team.enable }}
	<a href="#" class="bai-open-chat-btn2">{{ with .Site.Params.nav.team }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.contact.enable }}
	<a href="#" class="bai-open-chat-btn">{{ with .Site.Params.nav.contact }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}
	 	
      </div>
    </div>
  </div>
</div>
