<div id="fh5co-services" data-section="services">
  {{ with .Site.Params.services }}
  {{ if .video }}
  <div class="fh5co-video"><a href="{{ with .vidlink }}{{ . }}{{ end }}" class="popup-vimeo"><i class="icon-play2"></i></a> <span>Watch video</span></div>
  {{ end }}
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>{{ .title }}</h2>
      <p>{{ .description | markdownify }}</p>
    </div>
    
    {{ range .item }}
    <div class="col-md-4">
      <div class="service">
	<div class="icon"><i class={{ .icon }}></i></div>
	<h3>{{ .title }}</h3>
	<p>{{ .description | markdownify }}</p>
      </div>
    </div>
    {{ end }}
    
    <div class="col-md-12 text-center">
      <p><a href="#" class="btn btn-primary btn-outline fh5co-content-nav" data-nav-section="contact">Get In Touch</a></p>
      <p><a href="#" class="bai-open-chat-btn btn btn-primary btn-outline fh5co-content-nav" >Boost</a></p>
    </div>
    <!-- Boost chat begin -->
     <!-- Boost chat v1  <script src="https://partner3.boost.ai/js/bai-chat.js"></script> -->
    <script src="https://partner3.boost.ai/chatPanel/chatPanel.js"></script> 
    <script type="application/javascript">

		// Create chat panel
		var chatPanel = window.boostChatPanel({	
		//enableMic: true,		//enable mic
		//urlBase: 'https://partner3.boost.ai/',	//for old chat

                apiUrlBase: 'https://partner3.boost.ai/api',  //for v2 chat
		filterValues:['est'],
		title:['Virtual Assistant']	
		});

		// Open panel on click
		document.querySelector('.bai-open-chat-btn')
			.addEventListener('click', function () {chatPanel.show()});
    </script>
	  
   <!-- Boost chat end -->

  </div>
  {{ end }}
</div> <!-- END fh5co-services -->
